.header h2 {
    display: inline-block;
    padding-right: 10px;
  }
  
  .header p {
    display: inline-block;
  }
  
  .header h3 {
    margin-left: 10px;
    float: right;
  }
  
  
  .circle_1 {
    width: 110px;
    height: 110px;
    background: darkorange;
    border-radius: 50%;
    margin-left: 55px;
    line-height: 0;
    position: relative;
  }
  
  .circle_2 {
    width: 110px;
    height: 110px;
    background: red;
    border-radius: 50%;
    margin-left: 55px;
    line-height: 0;
    position: relative;
  }
  
  .circle_3 {
    width: 110px;
    height: 110px;
    background: cyan;
    border-radius: 50%;
    margin-left: 55px;
    line-height: 0;
    position: relative;
  }
  
  .circle_txt1 {
    position: absolute;
    text-align: center;
    bottom: 50%;
    width: 100%;
    font-weight: bold;
  }
  
  .circle_txt2 {
    position: absolute;
    text-align: center;
    bottom: 50%;
    width: 100%;
    font-weight: bold;
  }
  
  .circle_txt3 {
    position: absolute;
    text-align: center;
    bottom: 50%;
    width: 100%;
    font-weight: bold;
  }